<launch>
    <rosparam file="$(find toycar)/config/hardware.yaml" command="load"/>
    <rosparam file="$(find toycar)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find toycar)/config/joint_limits.yaml" command="load"/>
    <node name="toycar_hardware_interface_node" pkg="toycar" type="toycar_hardware_interface" output="screen"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
        args="
            /toycar/controller/state
            /toycar/controller/position/FrontLeftWheelJoint
            /toycar/controller/position/FrontRightWheelJoint
            /toycar/controller/velocity/left_frontaxisjoint
            /toycar/controller/velocity/right_frontaxisjoint
        "/>
</launch>